<div class="flex items-center justify-center min-h-screen bg-gray-800">
  <div class="bg-black p-8 rounded shadow-lg w-full max-w-md text-light">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="space-y-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Wrong email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password</mat-error>
      </mat-form-field>

      <app-button-loader
          [text]="'Login'"
          [class]="'w-full flex justify-center bg-primary text-light px-4 py-2 rounded hover:bg-red-700 transition duration-300 ease-in-out'"
          [isLoading]="isLoading"
          [disabled]="loginForm.invalid"
          type="submit"
      ></app-button-loader>

      <div *ngIf="error"  class="text-red-500 text-center mt-2">{{ error }}</div>
    </form>
  </div>
</div>
